{% extends 'base.html' %}

    {% load staticfiles %}
 
 {% block body_block %}
<style type="text/css">
	
	.box{
		text-align: center;

	}
	
</style>



<div class ='box'>
	<embed src="http://player.youku.com/player.php/sid/XMTI2NDcxNjEyOA==/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>



	<embed src="http://player.youku.com/player.php/sid/XMTI2ODk2NTUxMg==/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>

	<embed src="http://player.youku.com/player.php/sid/XMTI2ODMxOTc4NA==/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</div>
<br/><br/>
<div class="box">
	<embed src="http://player.youku.com/player.php/sid/XMTI0OTM2MjY5Ng==/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>


	<embed src="http://player.youku.com/player.php/sid/XOTM3Njg3NTgw/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>


	<embed src="http://player.youku.com/player.php/sid/XMTI3ODQ1NzgyOA==/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</div>
<br/><br/>
<div class="box">
	<embed src="http://player.youku.com/player.php/sid/XMTI5MDM3NDk0OA==/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>


	<embed src="http://player.youku.com/player.php/sid/XMTQ4MTc2NTQ1Mg==/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>


	<embed src="http://player.youku.com/player.php/sid/XMTQ3NTc2MDM2OA==/v.swf" allowFullScreen="true" quality="high" width="350" height="200" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	</div>
{% endblock %}
